__pycache__
.DS_Store
.git
.github
.gitignore
.venv
.vscode-test/**
.vscode/**
.yarnrc
*.pyc
*.vsix
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig.json
!node_modules/**
scripts/**
src/**
tests/**
docs/**
eslint.config.js
.prettierignore
